[submodule "opus/opus"]
	path = opus/opus
	url = git@github.com:xiph/opus.git
[submodule "opus/opusfile"]
	path = opus/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "opus/libogg"]
	path = opus/libogg
	url = https://github.com/gcp/libogg.git
[submodule "opus/Opus-iOS"]
	path = opus/Opus-iOS
	url = https://github.com/traleven/Opus-iOS.git
